---
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import Sectionhead from "../components/sectionhead.astro";
---

<Layout title="About">
    <h1>Informacion sobre mi:v</h1>
</Layout>
