---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contacto">
    <main class="flex justify-center w-full">
        <div class="max-w-sm flex justify-center w-full flex-col">
            <h2 class="text-center text-2xl">Contacto</h2>
            <form
                action="https://formsubmit.co/44a7efb6ed0b704b299ec7f5129eaca6"
                method="POST"
                class="flex flex-col w-full gap-3"
                id="contact"
            >
                <div class="flex flex-row gap-4 justify-center">
                    <div class="flex flex-col w-1/2">
                        <label for="name">Nombre:</label>
                        <input
                            class="bg-gray-200"
                            type="text"
                            name="name"
                            placeholder="escriba aqui su nombre"
                        />
                    </div>
                    <div class="flex flex-col w-1/2ww">
                        <label for="apellido">Apellido:</label>
                        <input
                            class="bg-gray-200"
                            type="text"
                            name="apellido"
                            placeholder="escriba aqui su apellido"
                        />
                    </div>
                </div>
                <div class="columna">
                    <label for="email">Email:</label>
                    <input
                        class="bg-gray-200"
                        type="email"
                        name="email"
                        placeholder="escriba aca su email"
                    />
                </div>

                <div class="columna">
                    <label for="mensaje">mensajes</label>
                    <input
                        class="bg-gray-200"
                        id="mensaje"
                        type="text"
                        name="mensaje"
                        placeholder="escriba aqui su mensaje aqui"
                    />
                </div>
                <input type="submit" value="enviar" />
            </form>
        </div>
        <style>
            .columna {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
            .fila {
                display: flex;
                flex-direction: column;
                gap: 12px;
            }

            @media (min-width: 768px) {
                .fila {
                    display: flex;
                    flex-direction: row;
                    gap: 12px;
                }
            }
        </style>
    </main>
</Layout>
