---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro." />

<main>
	<div class="font-grid">
		<a href="https://es.intermiamicf.com/">Instagram</a>
	</div>
</main>
<script is:inline>
const form = document.getElementById("contact");
console.log(form);
console.log(document.getElementById("email"));
form.addEventListener("submit", (event) => {
	// stop form submission
	event.preventDefault();

	const name = form.elements.nombre;
	const apellido = form.elements["apellido"];

	let valido = true;
	for (i = 0; i < form.elements.length; i = i + 1) {
		const elemt = form[i];
		if (form[i].value === "") {
			form[i].style.borderColor = "red";
			form[i].style.borderWidth = "1px";
			valido = false;
		}
	}
	if (valido) {
		alert("valido");
	} else alert("complete los campos");
});
</script>
<style>
	#font-grid {
		font-style: italic;
		font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
			sans-serif; /*Fuente Caligrafica background-color: rgb(231, 231, 7);*/
		font-weight: 800;
		font-size: larger;
		font-stretch: expanded;
	}
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
